<mat-toolbar id="menu-top">
  <div class="container sub-menu">
  <div>
    <img src="../../assets/img/logo-top.png"/>
  </div>
  <div class="menu-opcoes">
    <a routerLink="inicio">Inicio</a>
    <a href="#">Categorias</a>
    <a href="#">Avaliações</a>
    <a routerLink="login">Login</a>
  </div>
  <form class="menu-pesquisar">
    <input class="form-control" type="search" placeholder="Pesquisar" aria-label="Search">
    <button class="btn btn-outline-secondary" type="submit" style="border-radius: 0;">
        <mat-icon style="margin-top: 2px;">search</mat-icon>
    </button>
  </form>
</div>
</mat-toolbar>
