<section id="produtos">
  <div class="container navegacao-produto">
    <h3>Confira as novidades</h3>
    <div>
      <img src="../../assets/img/icons/arrow-left.png" alt="" style="margin-right: 10px;">
      <img src="../../assets/img/icons/arrow-right.png" alt="">
    </div>
  </div>

  <div class="lista-produtos">
    <div class="container produto">
    <div>
        <!-- Produto 1 -->
        <mat-card appearance="outlined">
        <img src="../../assets/img/produto1.png"/>
        <h2>Fifa 2024</h2>
        <h3>R$ 220,00</h3>
        <div class="botao-comprar">Comprar</div>
    </mat-card>
    </div>
    <div>
      <!-- Produto 2 -->
      <mat-card appearance="outlined">
      <img src="../../assets/img/produto2.png"/>
      <h2>Resident Evil</h2>
      <h3>R$ 180,00</h3>
      <div class="botao-comprar">Comprar</div>
  </mat-card>
  </div>
  <div>
    <!-- Produto 3 -->
    <mat-card appearance="outlined">
    <img src="../../assets/img/produto3.png"/>
    <h2>Crash</h2>
    <h3>R$ 150,00</h3>
    <div class="botao-comprar">Comprar</div>
</mat-card>
</div>
<div>
  <!-- Produto 4 -->
  <mat-card appearance="outlined">
  <img src="../../assets/img/produto4.png"/>
  <h2>Minecraft</h2>
  <h3>R$ 435,00</h3>
  <div class="botao-comprar">Comprar</div>
</mat-card>
</div>
<div>
  <!-- Produto 1 -->
  <mat-card appearance="outlined">
  <img src="../../assets/img/produto5.png"/>
  <h2>Fórmula 1</h2>
  <h3>R$ 450,00</h3>
  <div class="botao-comprar">Comprar</div>
</mat-card>
</div>
<div>
<!-- Produto 2 -->
<mat-card appearance="outlined">
<img src="../../assets/img/produto6.png"/>
<h2>Spider Man</h2>
<h3>R$ 200,00</h3>
<div class="botao-comprar">Comprar</div>
</mat-card>
</div>
<div>
<!-- Produto 3 -->
<mat-card appearance="outlined">
<img src="../../assets/img/produto7.png"/>
<h2>Star Wars</h2>
<h3>R$ 110,00</h3>
<div class="botao-comprar">Comprar</div>
</mat-card>
</div>
<div>
<!-- Produto 4 -->
<mat-card appearance="outlined">
<img src="../../assets/img/produto8.png"/>
<h2>Gran Turismo 7</h2>
<h3>R$ 550,00</h3>
<div class="botao-comprar">Comprar</div>
</mat-card>
</div>
    </div>
  </div>
</section>