<main id="login">
  <div class="login container-fluid d-flex justify-content-center align-items-center">
    <div class="form-login d-flex justify-content-center align-items-center">
        <div class="left-side-login d-flex flex-column justify-content-center align-items-center">
            <img src="../../assets/img/login.png" alt="">
            <p style="color: #fff;">
                Seja bem vindo, acesse e aproveite todo o conteúdo,
                <br>somos uma equipe de profissionais empenhados em
                <br>trazer o melhor conteúdo direcionado a você usuário. 
            </p>
        </div>
        <div class="right-side-login d-flex flex-column justify-content-center align-items-center">
            <h3>Olá!<br>Seja bem vindo de volta.</h3>
            <h4>Faça seu login:</h4>
                <form action="./index.html" method="POST">
                    <input type="text" name="name" placeholder="Usuário" id="nameLogin" autocomplete="off"><br><br>
                    <input type="password" name="senha" placeholder="Senha" id="passwordLogin"><br><br>
                    <button onclick="verifyLogin()">Fazer login</button>
                    <a href="./cadastro.html">Cadastrar</a>
                </form>
        </div>
    </div>
</div>
</main>